@import "tailwindcss";

:root {
  --background: #fafbfb;
  --foreground: #171717;

  --text-primary: #0a1c31;
  --text-secondary: #002045;
  --bg-primary: #0054FC;

  --primary-border: #edeff5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-btn-primary: var(--bg-primary);
  --color-primary-border: var(--primary-border);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scroll{
  overflow: hidden;
  scrollbar-gutter: stable; /* Keeps layout from shifting */
}
